# ========================
# File Sensitif / Rahasia
# ========================
database.php

# ========================
# Sistem Operasi
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# Editor / IDE
# ========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ========================
# PHP / Web
# ========================
*.log
*.cache
/vendor/
composer.phar

# ========================
# Environment
# ========================
.env
.env.local
.env.*.local
